################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Maksab/FileContentIndex
.vs/
bin/
obj/